@media (max-width: 992px) {
  .header {
    width: 100%;
  }

  .navbar ul {
    gap: 1px;
  }

  .navbar-link {
    gap: 1px;
  }

  .presentacion {
    text-align: center;
    width: 80%;
    align-items: center;
  }

  #hero {
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .logo-1 {
    display: none;
  }

  #about {
    width: 80%;
    text-align: center;
  }

  .nosotros {
    width: 80%;
    text-align: center;
    align-items: center;
  }

  .nosotros h4 {
    text-align: center;
    width: 80%;
    align-items: center;
  }

  .sponsors {
    display: flex;
    flex-direction: column;
  }

  #disponibles {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}

@media (max-width: 576px) {
  .navbar ul {
    background-color: rgb(152, 91, 208);
    width: 100%;
    gap: 10px;
    font-size: 20px;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.3s ease-out;
  }

  .navbar i {
    display: block;
  }

  #toggle-menu:checked + .navbar-list {
    transform: translateX(0%);
    transition: all 0.3s ease-in;
  }
  .presentacion p {
    width: 100%;
  }
}
